<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<h1>Products for Sale</h1>
<% if !@books.nil? %>
	<% @books.each do |book| %>	
		<%= image_tag(book.image, :size => "50x50") %>
		<h3><%= book.title %></h3>
		<div class="price_line">
			<span class="price"><%= number_to_euro(book.price) %></span>
			<%= button_to 'Add to Cart', lineitems_path(book_id: book) %>
		</div>
	
	<% end %>

<% else %>
	<p>There are no products for sale</p>
<% end %>
